
  <div class="results">
    <h1>Showing results for '<%= @searchinput %>'</h1>
    <% if @results > 0 %>
      <% if @productlist.length > 0 %>
        <div id="catalog-wrapper">
          <% @productlist.each do |productlist| %>
            <div class="product-card">
              <%= form_tag :controller => "main", :action => "buy" do %>
                <div class="product-img" style="background-image:url('<%= productlist.imgurl %>')"></div>
                <div class="price">$<%= productlist.price %></div>
                <div class="name"><%= productlist.description %></div>
                <%= hidden_field_tag 'prodid', productlist.id %>
                <div class="add-qty"><%= select_tag 'qty', "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>" .html_safe %></div>
                <%= submit_tag "Add to Cart", :class => "add-btn" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>There were no results.</p>
      <% end %>
    <% end %>
  </div>
