<div id="nav-wrapper-outer">
  <div id="nav-wrapper-inner">
    <nav>
      <ul>
        <li>
          <div id="logo" class="button_to">
            <div id="drawer" class="<%= @isOpen %>">
              <%=link_to main_tab1_path do %><div id="item1-mobile" class="item-mobile <%= @selectedTab1 %>">Home</div><% end %>
              <%=link_to main_tab2_path do %><div id="item2-mobile" class="item-mobile <%= @selectedTab2 %>">Find Barbers</div><% end %>
              <%=link_to main_tab3_path do %><div id="item3-mobile" class="item-mobile <%= @selectedTab3 %>">Store</div><% end %>
              <%=link_to main_tab4_path do %><div id="item4-mobile" class="item-mobile <%= @selectedTab4 %>">Reports</div><% end %>
            </div>
          </div>
        </li>
        <li><%=link_to main_tab1_path do %><div class="item-container <%= @selectedTab1 %>"><div id="item1" class="item"><span>Home</span></div></div><% end %></li>
        <li><%=link_to main_tab2_path do %><div class="item-container <%= @selectedTab2 %>"><div id="item2" class="item"><span>Find Barbers</span></div></div><% end %></li>
        <li><%=link_to store_products_index_path do %><div class="item-container <%= @selectedTab3 %>"><div id="item3" class="item"><span>Store</span></div></div><% end %></li>
        <!--li><%=link_to main_tab4_path do %><div class="item-container <%= @selectedTab4 %>"><div id="item4" class="item">Reports</div></div><% end %></li-->
        <div class="nav-divider"></div>
        <% if session[:user_id].nil? %>
          <li><%=link_to new_account_path do %><div class="item-container <%= @selectedSignUp %>"><div id="signup" class="item"><span>Sign Up</span></div></div><% end %></li>
          <li><%=link_to login_path do %><div class="item-container <%= @selectedSignIn %>"><div id="signin" class="item"><span>Login</span></div></div><% end %></li>
        <% else %>
          <li><%=button_to 'Logout', logout_path, :method => :delete %></li>
        <% end %>
      </ul>

      <div id="nav-right">
        <% if !session[:user_id].nil? %>
          <%= link_to main_cart_path do %><div id="cart-wrapper" class="item-container <%= @selectedCart %>"><div id="cart" class="item"><%= session[:cart_prod].length %></div></div><% end %>
        <% end %>
        <div id="search-wrapper">
          <div id="search"></div>
          <%= form_tag :action => 'search', :controller => 'main' do %><%= text_field_tag 'searchinput', @searchinput, placeholder: 'Search store...' %><% end %>
        </div>
      </div>
    </nav>
  </div>
</div>
