<div id="outer-wrapper">
  <div id="content-wrapper">
    <div id="categories-wrapper">
      <div class="cat-empty"></div>
      <!-- for experimentation only -->
      <%= link_to store_products_index_path do %><div id="cat0" class="cat cat-selected">All</div><% end %>
      <%= form_tag :action => 'search', :controller => 'main' do %><%= hidden_field_tag 'searchinput', 'barber backpack' %>
        <%= submit_tag "Backpacks", :class => "cat" %>
      <% end %>
      <%= form_tag :action => 'search', :controller => 'main' do %><%= hidden_field_tag 'searchinput', 'orange' %>
        <%= submit_tag "Tops", :class => "cat" %>
      <% end %>
      <%= form_tag :action => 'search', :controller => 'main' do %><%= hidden_field_tag 'searchinput', 'cap' %>
        <%= submit_tag "Hats", :class => "cat" %>
      <% end %>
      <%= form_tag :action => 'search', :controller => 'main' do %><%= hidden_field_tag 'searchinput', 'mug' %>
        <%= submit_tag "Other", :class => "cat" %>
      <% end %>
      <!--div id="cat2" class="cat">Shirts</div>
      <div id="cat3" class="cat">Hats</div>
      <div id="cat4" class="cat">Other</div-->
      <div class="cat-empty"></div>
    </div>

  <div id="all-products">All Products</div>

    <div id="catalog-wrapper">
      <% @store_products.each do |store_product| %>
        <div class="product-card">
          <%= form_tag :controller => "main", :action => "buy" do %>
            <div class="product-img" style="background-image:url('<%= store_product.imgurl %>')"></div>
            <div class="price">$<%= store_product.price %></div>
            <div class="name"><%= store_product.description %></div>
            <!--p><%= store_product.product_type %></p-->
            <%= hidden_field_tag 'prodid', store_product.id %>
            <div class="add-qty"><%= select_tag 'qty', "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>" .html_safe %></div>
            <%= submit_tag "Add to Cart", :class => "add-btn" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <!--div class="footer"></div-->
</div>
