<%= form_with(model: barber, local: true) do |form| %>
  <% if barber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barber.errors.count, "error") %> prohibited this barber from being saved:</h2>

      <ul>
      <% barber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :barber_email %>
  </div>

  <div class="field">
    <%= form.label :charge %>
    <%= form.number_field :charge, id: :barber_charge %>
  </div>

  <div class="field">
    <%= form.label :averageRating %>
    <%= form.number_field :averageRating, id: :barber_averageRating %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :barber_description %>
  </div>

  <div class="field">
    <%= form.label :barberType %>
    <%= form.check_box :barberType, id: :barber_barberType %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
