<p id="notice"><%= notice %></p>

<h1>Barbers</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Charge</th>
      <th>Averagerating</th>
      <th>Description</th>
      <th>Barbertype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @barbers.each do |barber| %>
      <tr>
        <td><%= barber.email %></td>
        <td><%= barber.charge %></td>
        <td><%= barber.averageRating %></td>
        <td><%= barber.description %></td>
        <td><%= barber.barberType %></td>
        <td><%= link_to 'Show', barber %></td>
        <td><%= link_to 'Edit', edit_barber_path(barber) %></td>
        <td><%= link_to 'Destroy', barber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barber', new_barber_path %>
