<p id="notice"><%= notice %></p>

<p>
  <strong>Customerid:</strong>
  <%= @follow.customerID %>
</p>

<p>
  <strong>Barberid:</strong>
  <%= @follow.barberID %>
</p>

<%= link_to 'Edit', edit_follow_path(@follow) %> |
<%= link_to 'Back', follows_path %>
