<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :DateTime %>
    <%= form.datetime_select :DateTime, id: :appointment_DateTime %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :appointment_location %>
  </div>

  <div class="field">
    <%= form.label :customerID_id %>
    <%= form.text_field :customerID_id, id: :appointment_customerID_id %>
  </div>

  <div class="field">
    <%= form.label :barberID_id %>
    <%= form.text_field :barberID_id, id: :appointment_barberID_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
