<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dateTime %>
    <%= form.datetime_select :dateTime, id: :transaction_dateTime %>
  </div>

  <div class="field">
    <%= form.label :customerID_id %>
    <%= form.text_field :customerID_id, id: :transaction_customerID_id %>
  </div>

  <div class="field">
    <%= form.label :barberID_id %>
    <%= form.text_field :barberID_id, id: :transaction_barberID_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
