<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @promotion.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @promotion.description %>
</p>

<p>
  <strong>Desturl:</strong>
  <%= @promotion.desturl %>
</p>

<p>
  <strong>Imgpath:</strong>
  <%= @promotion.imgpath %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @promotion.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @promotion.enddate %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
