<p id="notice"><%= notice %></p>

<p>
  <strong>Producttype:</strong>
  <%= @product.productType %>
</p>

<p>
  <strong>Productcolor:</strong>
  <%= @product.productColor %>
</p>

<p>
  <strong>Productsize:</strong>
  <%= @product.productSize %>
</p>

<p>
  <strong>Productprice:</strong>
  <%= @product.productPrice %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
