<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @review.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Customerid:</strong>
  <%= @review.customerID %>
</p>

<p>
  <strong>Barberid:</strong>
  <%= @review.barberID %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
