<%= form_with(model: image, local: true) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :imageGroupID_id %>
    <%= form.text_field :imageGroupID_id, id: :image_imageGroupID_id %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :image_url %>
  </div>

  <div class="field">
    <%= form.label :sizeX %>
    <%= form.number_field :sizeX, id: :image_sizeX %>
  </div>

  <div class="field">
    <%= form.label :sizeY %>
    <%= form.number_field :sizeY, id: :image_sizeY %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
