<p id="notice"><%= notice %></p>

<p>
  <strong>Imagegroupid:</strong>
  <%= @image.imageGroupID %>
</p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<p>
  <strong>Sizex:</strong>
  <%= @image.sizeX %>
</p>

<p>
  <strong>Sizey:</strong>
  <%= @image.sizeY %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
