<!DOCTYPE html>
<html>
  <head>
    <title>Backpack Barber</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'main/application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "main/navbar/navbar" %>
      <div id="content-logo"></div>
      <%= yield %>
    <!--%= render "layouts/footer" %-->
  </body>
</html>
