<div id="back-button-container"><%= link_to main_tab4_path do %><div id="back-to-reports"><p id="back-label">Back to Reports</p></div><% end %></div>

<div id="index-wrapper">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Email:</strong>
    <%= @account.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= @account.password %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= @account.lastName %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= @account.firstName %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= @account.phoneNumber %>
  </p>

  <p>
    <strong>Isbarber:</strong>
    <%= @account.isBarber %>
  </p>

  <p>
    <strong>Userimage:</strong>
    <%= @account.userImage %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @account.city %>
  </p>

  <%= link_to 'Edit', edit_account_path(@account) %> |
  <%= link_to 'Back', accounts_path %>

</div>
